Import Library

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Download File

In [ ]:
!gdown 1d76ByuN1npW4dkMpwJXeKEVgnhcYW_B8

Downloading...
From: https://drive.google.com/uc?id=1d76ByuN1npW4dkMpwJXeKEVgnhcYW_B8
To: /content/supermarket_sales.csv
100% 132k/132k [00:00<00:00, 76.9MB/s]

Read File

In [ ]:
sales = pd.read_csv('/content/supermarket_sales.csv')

Explore Data

In [ ]:
sales.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [ ]:
# Check duplicate
sales.duplicated().any()

False

In [ ]:
# View mini data cleanliness analysis
pd.DataFrame({'count': sales.shape[0],
              'nulls': sales.isnull().sum(),
              'nulls%': sales.isnull().mean() * 100,
              'cardinality': sales.nunique(),
             })

                         count  nulls  nulls%  cardinality
Invoice ID                1000      0     0.0         1000
Branch                    1000      0     0.0            3
City                      1000      0     0.0            3
Customer type             1000      0     0.0            2
Gender                    1000      0     0.0            2
Product line              1000      0     0.0            6
Unit price                1000      0     0.0          943
Quantity                  1000      0     0.0           10
Tax 5%                    1000      0     0.0          990
Total                     1000      0     0.0          990
Date                      1000      0     0.0           89
Time                      1000      0     0.0          506
Payment                   1000      0     0.0            3
cogs                      1000      0     0.0          990
gross margin percentage   1000      0     0.0            1
gross income              1000      0     0.0          990
Rating                    1000      0     0.0           61

In [ ]:
# Look for possible errors in the data
sales.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,0.000000,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905,49.650000,10.00000

Generate more column

In [ ]:
# Check type of each column
sales.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

In [ ]:
# Convert type of column [time, date] to datetime type
sales['Date'] = pd.to_datetime(sales['Date'])
sales['Time'] = pd.to_datetime(sales['Time'])
sales.dtypes

Invoice ID                         object
Branch                             object
City                               object
Customer type                      object
Gender                             object
Product line                       object
Unit price                        float64
Quantity                            int64
Tax 5%                            float64
Total                             float64
Date                       datetime64[ns]
Time                       datetime64[ns]
Payment                            object
cogs                              float64
gross margin percentage           float64
gross income                      float64
Rating                            float64
dtype: object

In [ ]:
# View all column before add new column
sales.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

Augment Data for have more column

In [ ]:
# Add new column to another dataframe
df = sales
df['Month'] = pd.DatetimeIndex(df['Date']).month_name()
df['Weekday'] = pd.DatetimeIndex(df['Date']).day_name()
df['Weekday number'] = pd.DatetimeIndex(df['Date']).weekday
df['Hour'] = pd.DatetimeIndex(df['Time']).hour
df['Week'] = df['Date'].dt.strftime('%U').astype(int)

In [ ]:
df.head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,...,Payment,cogs,gross margin percentage,gross income,Rating,Month,Weekday,Weekday number,Hour,Week
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,...,Ewallet,522.83,4.761905,26.1415,9.1,January,Saturday,5,13,0
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,...,Cash,76.40,4.761905,3.8200,9.6,March,Friday,4,10,9
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,...,Credit card,324.31,4.761905,16.2155,7.4,March,Sunday,6,13,9
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,...,Ewallet,465.76,4.761905,23.2880,8.4,January,Sunday,6,20,4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,...,Ewallet,604.17,4.761905,30.2085,5.3,February,Friday,4,10,5

In [ ]:
# View again mini data cleanliness analysis after add new column
pd.DataFrame({'count': df.shape[0],
              'nulls': df.isnull().sum(),
              'nulls%': df.isnull().mean() * 100,
              'cardinality': df.nunique(),
             })

                         count  nulls  nulls%  cardinality
Invoice ID                1000      0     0.0         1000
Branch                    1000      0     0.0            3
City                      1000      0     0.0            3
Customer type             1000      0     0.0            2
Gender                    1000      0     0.0            2
Product line              1000      0     0.0            6
Unit price                1000      0     0.0          943
Quantity                  1000      0     0.0           10
Tax 5%                    1000      0     0.0          990
Total                     1000      0     0.0          990
Date                      1000      0     0.0           89
Time                      1000      0     0.0          506
Payment                   1000      0     0.0            3
cogs                      1000      0     0.0          990
gross margin percentage   1000      0     0.0            1
gross income              1000      0     0.0          990
Rating                    1000      0     0.0           61
Month                     1000      0     0.0            3
Weekday                   1000      0     0.0            7
Weekday number            1000      0     0.0            7
Hour                      1000      0     0.0           11
Week                      1000      0     0.0           13

Prepare for building model

In [ ]:
# Import library
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.linear_model import LinearRegression

In [ ]:
def preprocess_data(df):
    # Drop irrelevant columns
    df.drop(['Invoice ID', 'Date', 'Time', 'cogs', 'gross margin percentage', 'gross income', 'Month', 'Weekday', 'Hour', 'Week'], axis=1, inplace=True)

    # Encode categorical variables
    label_encoder = LabelEncoder()
    df['Branch'] = label_encoder.fit_transform(df['Branch'])
    df['City'] = label_encoder.fit_transform(df['City'])
    df['Customer type'] = label_encoder.fit_transform(df['Customer type'])
    df['Gender'] = label_encoder.fit_transform(df['Gender'])
    df['Product line'] = label_encoder.fit_transform(df['Product line'])
    df['Payment'] = label_encoder.fit_transform(df['Payment'])
    # df['Month'] = label_encoder.fit_transform(df['Month'])
    df['Weekday number'] = label_encoder.fit_transform(df['Weekday number'])
    # df['Hour'] = label_encoder.fit_transform(df['Hour'])
    # df['Week'] = label_encoder.fit_transform(df['Week'])

    return df

In [ ]:
# Preprocess data
df_result = preprocess_data(df)

# Split the data into features and target variable
X = df_result.drop('Total', axis=1)
y = df_result['Total']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Check x_train and y_train
X_train_df = pd.DataFrame(X_train)
y_train_df = pd.DataFrame(y_train)

print(X_train_df.head())

     Branch  City  Customer type  Gender  Product line  Unit price  Quantity  \
29        0     2              1       1             3       24.89         9
535       2     1              1       1             4       16.67         7
695       0     2              0       0             4       87.37         5
557       2     1              0       0             2       98.52        10
836       0     2              0       1             1       38.54         5

      Tax 5%  Payment  Rating  Weekday number
29   11.2005        0     7.4               4
535   5.8345        2     7.4               3
695  21.8425        0     6.6               1
557  49.2600        2     4.5               2
836   9.6350        2     5.6               2

In [ ]:
print(y_train_df.head())

         Total
29    235.2105
535   122.5245
695   458.6925
557  1034.4600
836   202.3350

Building Linear Regression Model

In [ ]:
# Training model linear regression
model = LinearRegression()
model.fit(X_train, y_train)

# Predict result
y_pred = model.predict(X_test)

# Calculate MSE, MAE, R_SQUARE, RSME
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r_square = r2_score(y_test, y_pred)
rmse = np.sqrt(mse)

print("Mean Squared Error (MSE):", mse)
print("Mean Absolute Error (MAE):", mae)
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared (R2):", r_square)

Mean Squared Error (MSE): 2.0015057773358032e-26
Mean Absolute Error (MAE): 1.1099565710992465e-13
Root Mean Squared Error (RMSE): 1.4147458348890104e-13
R-squared (R2): 1.0

Using Cross_validation to evalute model

In [ ]:
from sklearn.model_selection import KFold, cross_validate

In [ ]:
# Define the scoring metrics
scoring = {'mse': 'neg_mean_squared_error',
           'mae': 'neg_mean_absolute_error',
           'rmse': 'neg_root_mean_squared_error',
           'r2': 'r2'}

# Perform 5-fold cross-validation
kf = KFold(n_splits=5, shuffle=True, random_state=42)
cv_results = cross_validate(model, X, y, scoring=scoring, cv=kf)

# Extract mean scores
mse = -cv_results['test_mse'].mean()
mae = -cv_results['test_mae'].mean()
rmse = np.sqrt(-cv_results['test_rmse'].mean())
r2 = cv_results['test_r2'].mean()

print(f"Mean Squared Error (MSE): {mse}")
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (R2): {r2}")

Mean Squared Error (MSE): 1.7524349371980283e-26
Mean Absolute Error (MAE): 1.0453149457134715e-13
Root Mean Squared Error (RMSE): 3.617745312281627e-07
R-squared (R2): 1.0

Conclusion

The regression model for predicting supermarket sales demonstrated excellent results with extremely low error rates (MSE, MAE, RMSE) and an R-squared of 1.0 on the cross-validation splits. This indicates the model's ability to generalize well and make accurate predictions on unseen data. Cross-validation provides confidence that the model has not overfit the training data and can reliably forecast supermarket sales in practice. However, it's still recommended to monitor the model's performance when deployed on real-world data.